.nav
    box-sizing: none
    padding: 2.5rem 0rem 2.5rem 0rem
    display: flex
    align-items: center
    background-color: #00000096
    backdrop-filter: blur(3px)
    -webkit-backdrop-filter: blur(3px)
    justify-content: space-around
    border-bottom-left-radius: 9px 
    border-bottom-right-radius: 9px 
    box-shadow: 0rem 1rem 2rem 100rem rgba(0, 0, 0, 0.089)

    &__container_logo
       opacity: .8
       display: flex
       align-self: center
    &_logo
       height: 4rem
       filter: brightness(100%)
       opacity: 90%
        
    &__links
        ul
            list-style: none
            display: flex
            gap: 5rem

            a
               text-decoration: none
               color: #8d8d8d
               font-weight: 900
