#top-cities
    background-color: transprent
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    gap: 1rem
    width: 100%
    padding: 0 15rem
    max-height:  18rem
    overflow: hidden

    div 
       background-color: #00000052
       backdrop-filter: blur(8px)
       -webkit-backdrop-filter: blur(10px)
       padding: 1rem 1.5rem
       border-radius: 8px
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

    
    h4    
       color: #d3d3d3d2
       margin-bottom: 1rem
       text-align: left

    p
       color: #9b9a9ad8
       display: flex
       justify-content: space-between
       gap: 0rem
       margin-left: .5rem
       font-size: 1.2rem
       margin-bottom: .8rem
        
.st 
    
    font-weight: 900
    margin-top: .2rem
    color: #9b9a9ab6
.re 
    color: #d3d3d3d2
    font-weight: 500
    font-size: 1.3rem
    margin-left: 2rem

.add_det 
    font-size: 1rem
    font-weight: 900
    color: #9b9a9ad7

.w-icon
    margin-left: .5rem
    color: #9b9a9a
    position: absolute
    left: 1.4rem
    margin-top: .5rem
.ml
    left: 1.6rem