.weather-info
    @include absCenter
    background-color: #838383
    padding: 5rem 10rem
    display: flex
    flex-direction: column
    transform: translate(-50%, -0%)
    
    
.weather-info_hidden
    opacity: 0
    visibility: hidden
.weather-info_show
    opacity: 0
    visibility: visible
    animation-name: displayweatherdata
    animation-duration: .7s 
    animation-timing-function: ease 
.weather-info_show
    opacity: 1